body {
  display: flex;
  flex-direction: column;  
  height: 100vh;      
  margin: 0; 
  background-color: #f0f0f0;
  color: #333;    
}

main {
  display: flex;             
  flex-direction: row-reverse;
  flex: auto; 
  height: auto;                
}

article{
  flex: 2;                 
  overflow-y: auto;        
  background-color: white;
  padding: 20px;
  border-radius: 10px;              
}
article h2 {
  color: #3498db;
}
article p {
  font-size: 1.1em;
  color: #7f8c8d;
}
aside {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px; 
  height: 90px; 
  background-color: lightgray;
  padding: 20px;
  box-sizing: border-box;        
}

header {
  font-weight: bold;
  text-decoration: underline; 
  color: blue;  
}
.logo {
  font-size: 30px; 
  color: #e74c3c;   
}
h1 {
  font-weight: bold;
  text-decoration: underline; 
  font-family: 'Arial', sans-serif;
  color: #2c3e50;  
}
p {
  line-height: 1.5;
  font-size: 1.2em;
}

footer {
    background-color: #333;
    color: white;        
    padding: 20px;      
    text-align: right;   
    font-weight: bold;   
}
